<!DOCTYPE html>
<html>
<head>
  <title>Admin Login - Justice Njaka</title>
  <link rel="stylesheet" href="/css/admin.css">

</head>

<body>
  <header><h1>Justice Njaka - Admin Login</h1></header>
  <div class="container">
    <form id="loginForm">
      <h2>Admin Sign In</h2>
      <input type="text" name="username" id="username" placeholder="Enter Username" required>
      <input type="password" name="password" id="password" placeholder="Enter Password" required>
      <button type="submit">Login</button>
    </form>
  </div>
</body>
<script>
  const loginForm = document.getElementById("loginForm");
  const username = document.getElementById("username");
  const password = document.getElementById("password");

  loginForm.addEventListener("submit", async (e) => {
    e.preventDefault();

    try {
      const res = await fetch("/admin-login", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ username: username.value, password: password.value })
      });

      const data = await res.json();
      if (data.message == "Invalid Credentials") {
        alert(data.message);
      } else {
        alert(data.message);
        window.location.href = "/case-viewer";
      }
    } catch (err) {
      console.error("Login failed:", err);
    }
  })
</script>
</html>
