<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
  <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
  <h1>Reset Password</h1>
  <form id="reset-password-form">
    <label for="password">New Password:</label>
    <input type="password" id="password" name="password"><br><br>
    <label for="confirm-password">Confirm Password:</label>
    <input type="password" id="confirm-password" name="confirm-password"><br><br>
    <button type="submit">Reset Password</button>
  </form>
  <div id="message"></div>

  <script>
    const urlParams = new URLSearchParams(window.location.search);
    const token = window.location.pathname.split('/').pop();

    const form = document.getElementById('reset-password-form');
    form.addEventListener('submit', (e) => {
      e.preventDefault();
      const password = document.getElementById('password').value;
      const confirmPassword = document.getElementById('confirm-password').value;
      if (password !== confirmPassword) {
        document.getElementById('message').innerText = 'Passwords do not match';
        return;
      }
      fetch(`/reset-password/${token}`, {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ password }),
      })
      .then((res) => res.json())
      .then((data) => {
        document.getElementById('message').innerText = data.message;
        alert(data.message);
        window.location.replace("/login");
      })
      .catch((err) => console.error(err));
    });
  </script>
</body>
</html>